@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, #hero p, button {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

header, #hero, footer {
    background-color: #1F2937;
}

header {
    padding: 24px;
    padding-bottom: 0px;
}

header h2 {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

header ul {
    display: flex;
    gap: 24px;
}

#hero {
    padding: 128px 0;
}

#hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

#hero .hero-text {
    max-width: 45%;
}

#hero img {
    height: 300px;
    width: 50%;
    object-fit: cover;
}

#content {
    padding: 48px 0;
    text-align: center;
}

#content h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 0px;
}

#content .row {
    justify-content: center;
    gap: 64px;
    margin: 48px 0;
}

#content .illust-container {
    max-width: 160px;
}

#content .illust-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

#content .illust-container p {
    margin: 1em 0.5em;
}

#quote {
    background-color: #E5E7EB;
    padding: 128px 0;
}

#quote .row {
    justify-content: end;
    max-width: 830px;
    margin: 0 auto;
}

#quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

#quote h2 {
    margin: 0;
    color: #1F2937;
    font-weight: 800;
}